@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    min-inline-size: 375px;
    margin: 0 auto;
    font-family: var(--main-font, monospace);
    --title-color: #353430;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #353430;
    --accent-color-shadow: #ff0070;
    --text-color: #ff8dcb;
    --focus-text-color: #ffc2e6;
    --main-text-color: #353430;
    --border-color: rgba(50, 49, 45, 0.4);
  }
  
  .span__rec {
    visibility: hidden;
  }
}

.page.theme_light {
  min-inline-size: 375px;
  margin: 0 auto;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #353430;
  --accent-color-shadow: #ff0070;
  --text-color: #ff8dcb;
  --focus-text-color: #ffc2e6;
  --main-text-color: #353430;
  --border-color: rgba(50, 49, 45, 0.4);
}

.page.theme_light .span__rec {
  visibility: hidden;
}
